@import "assets/scss/variables.scss";

.app-footer {
  background-color: $color-orange;
  color: white;
  font-size: 0.95rem !important;

  a {
    color: white;
  }

  a:hover {
    text-decoration: none;
    font-weight: bolder;
  }

  h6: {
    font-size: 1rem !important;
  }
}
